{{#> layout.page
    title=data.views.homepage.title
    view="homepage"
    viewScript="views/homepage.js"
    viewStyle="views/homepage.css"
}}
    <h1>Eigen UI</h1>

    <fieldset>
        <p>
            This is an example radio input field. Stylistic exploring of
            skeuomorphism with retro future machine feeling, but implemented
            with native CSS mechanisms.
        </p>
        <div>
            <input type="radio" name="sample" id="sample-option-1" value="1" />
            <label for="sample-option-1">First</label>
        </div>
        <div>
            <input type="radio" name="sample" id="sample-option-2" value="2" />
            <label for="sample-option-2">Second</label>
        </div>
    </fieldset>
{{/layout.page}}

